<div ng-controller="IzmenaCtrl">
<div class="row">
<form>
	<div class="form-group"">
	<label>Broj dokumenta</label>
	<input class="form-control" ng-model="dokument.brojDokumenta">
	</div>
	
	<div class="form-group">
		<label>Tip dokumenta</label>
		<select class="form-control" ng-model="dokument.tipDokumenta">
			<option value="PRIJEMNICA"> PRIJEMNICA</option>
			<option value="OTPREMNICA"> OTPREMNICA</option>
			<option value="NALOG"> NALOG</option>
			</select>
		</div>
	
		<div class="form-group">
			<label>Maticni broj</label>
			<input class="form-control" ng-model="dokument.maticniBroj">
		   </div>
		   
		   <div class="form-group">
			<label>Pib</label>
			<input class="form-control" ng-model="dokument.pib">
		   </div>
	   
		   <div class="form-group">
			<label>Iznos bez PDV-a</label>
			<input class="form-control" ng-model="dokument.iznosBezPdv">
		   </div>
	   
		   <div class="form-group">
			   <label>PDV (%)</label>
			   <input class="form-control" ng-model="dokument.pdv">
			  </div>
	   
	
	
	<button class="btn btn-secondary" ng-click="uradiIzmenu()">Izmeni</button>
</form>
</div>
</div>
